{% extends "default.njk" %}

{% block summary %}We're just reaching out about something...{% endblock %}
{% block content %}
<h1>Hello, world</h1>
<p>Welcome to your first email.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ut pellentesque sapien. Maecenas ullamcorper eget arcu sit amet feugiat. Quisque interdum aliquet hendrerit. Ut viverra gravida mi, quis porttitor nunc sodales rhoncus. Ut auctor nibh vel odio accumsan consectetur vel in ipsum. Quisque sed lorem cursus, dignissim magna a, egestas purus. Phasellus non facilisis eros.</p>
<p>It's really great.</p>
{% endblock %}